name: Run tests

on:
    push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        dbt-version: [1.6.0, 1.7.0, 1.8.0, 1.9.0b2]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
            enable-cache: true
            github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test
        run: |
          uv run pytest